<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484488715541-uosj9gubb2msnlfv0q9tosnho2jmd5hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484488715541-uosj9gubb2msnlfv0q9tosnho2jmd5hu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>484488715541-c6vetrf2pvuv32sla23movujtfn3umq7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMk-HdQCXIRLiBm0xNj5032-gwd4BfhQg</string>
	<key>GCM_SENDER_ID</key>
	<string>484488715541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oba.boba</string>
	<key>PROJECT_ID</key>
	<string>oba2-b6b5f</string>
	<key>STORAGE_BUCKET</key>
	<string>oba2-b6b5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484488715541:ios:df42923bee44fafea81d1c</string>
	<key>DATABASE_URL</key>
	<string>https://oba2-b6b5f.firebaseio.com</string>
</dict>
</plist>